# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook cache
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Output files
outputs/